*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url("images/25park.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: blue;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #1538A0;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links li a {
    color: #fff;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}






/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    height: 0;
    background-color: #1538A0;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 170px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_button {
    width: 100%;
    display: flex;
    justify-content: center;
}










/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}


















/* TIMELINE */
.timeline-section{
	background-color: #fff;
    border-top: 7px solid #1538A0;
	min-height: 100vh;
	padding: 100px 15px;
}

.timeline-section h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #1538A0;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #1538A0;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #1538A0;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #1538A0;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}











/*FOOTER*/
footer {
    background: #DEDEDE;
    padding-top: 50px;
    border-top: 7px solid #1538A0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-content {
    width: 100%;
    max-width: 33.3%;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 30px;
}

h3 {
    font-size: 28px;
    color: #434343;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 100%;
    text-align: center;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 0;
    
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #1538A0;
    transition-duration: .5s;
}

.list a {
    color:#434343;
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: #434343;
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #1538A0;
}

.social-icons i:hover {
    color: #1538A0;
}

.bottom-bar {
    background: #1538A0;
    text-align: center;
    padding: 10px 0;
}

.bottom-bar a:hover {
    color: #FFF;
}

.bottom-bar p {
    color: #FFF;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}














/* MOBILE VIEW */
  @media (max-width: 768px) {
    .footer-content {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_button {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    
    section#hero {
        height: calc(100vh - 120px); 
    }

    #hero h1 {
        font-size: 2rem; 
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}
