body{
    font-family: sans-serif;
    margin:0;
    line-height: 1.5;
    background-color: #f0f0f0;
}

*{
    box-sizing: border-box;
    margin: 0;
}

li {
   list-style: none;
}

a{
   text-decoration: none;
   color: #fff;
   font-size: 1rem;
}

header {
   position: relative;
   padding: 0 2rem;
   background-color: #1538A0;
}

.navbar {
   width: 100%;
   height: 60px;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar .logo a {
   font-size: 1.5rem;
   font-weight: bold;
   color: #fff;
}

.navbar .links {
   display: flex;
   gap: 2rem;
}

.navbar .links li a {
   color: #fff;
}

.navbar .toggle_btn {
   color: #fff;
   font-size: 1.5rem;
   cursor: pointer;
   display: none;
}




















/* DROPDOWN MENU */
.dropdown_menu {
   display: none;
   position: absolute;
   right: 2rem;
   top: 60px;
   width: 200px;
   height: 0;
   background-color: #1538A0;
   backdrop-filter: blur(15px);
   border-radius: 10px;
   overflow: hidden;
   transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
   height: 180px;
}

.dropdown_menu li{
   padding: 0.7rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.dropdown_menu .action_button {
   width: 100%;
   display: flex;
   justify-content: center;
}


























/*PROJECTS */ 
.row{
    display: flex;
    flex-wrap: wrap;
}
.section-title{
   flex:0 0 100%;
   max-width: 100%;
   margin-bottom: 60px;
}
.section-title h1{
   text-align: center;
   font-size: 60px;
   color:#000000;
}
.services{
    min-height: 100vh;
    padding:80px 0;
}

.services .service-items{
   flex:0 0 100%;
   max-width: 100%;
}

.services .service-items .item{
   flex:0 0 33.33%;
   max-width: 33.33%;
   padding: 15px;
}

.services .service-items .item-inner{
   border:1px solid #1538A0;
   border-radius: 5px;
   padding: 30px;
}
.services .service-items .read-more-cont{
   display: none;
}
.services .service-items .item-inner h3{
   font-size: 20px;
   color:#000000;
   margin-bottom: 30px;
   position: relative;
}
.services .service-items .item-inner img {
   width: 100%;
   max-height: 200px;
   object-fit: cover;
   margin-bottom: 15px;
}
.services .service-items .item-inner h3::before{
 content: '';
 height: 1px;
 width: 80px;
 background-color: #000000;
 position: absolute;
 left:0;
 bottom:-10px;
}

.services .service-items .item-inner p{
   color:#555555;
   font-size: 16px;
   margin:0 0 30px;
}


.services .service-items .item-inner .btn{
   font-size: 16px;
   background-color: transparent;
   border:1px solid #555555;
   color:#555555;
   padding: 8px 15px;
   cursor: pointer;
}

.services .service-items .item-inner .btn:hover {
   background-color: #1538A0;
   color: #fff;
}

.popup-box{
   position: fixed;
   height: 100%;
   width: 100%;
   left: 0;
   top:0;
   background-color: rgba(0,0,0,0.5);
   z-index: 500;
   visibility: hidden;
   opacity:0;
   transition: none;
}
.popup-box.open{
 visibility: visible;
   opacity:1;	
   transition: none;
}
.popup-box .popup-content{
   background-color: #ffffff;
   width: 600px;
   position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%,-50%);
   border-radius: 8px;
}

.popup-box .popup-header{
   padding: 15px 40px 15px 15px;
   border-bottom: 1px solid #dddddd;
}
.popup-box .popup-header h3{
   margin:0;
   color:#555555;
   font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
   position: absolute;
   height: 30px;
   width: 30px;
   text-align: center;
   color: #555555;
   font-size: 28px;
   line-height: 30px;
   right: 5px;
   top: 5px;
   cursor: pointer;
}
.popup-box .popup-body{
   padding: 15px;
   max-height: 300px;
   overflow-y: auto;
}
.popup-box .popup-body img{
   width: 100%;
   display: block;
   margin-top: 15px;
}
.popup-box .popup-body p{
   font-size: 16px;
   color:#555555;
   margin:0 0 15px;
}
.popup-box .popup-footer{
   padding: 15px;
   border-top:1px solid #dddddd;
   text-align: right;
   transition: none;
}
.popup-box .popup-footer .btn{
   padding: 8px 15px;
   border:1px solid #555555;
   color:#555555;
   font-size: 16px;
   background-color: transparent;
   cursor: pointer;
   border-radius: 4px;
}
.popup-box .popup-footer .btn:focus{
   outline: none;
}
















/*FOOTER*/
footer {
   background: #DEDEDE;
   padding-top: 50px;
   border-top: 7px solid #1538A0;
}

.container {
   width: 100%;
   max-width: 1140px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.footer-content {
   width: 100%;
   max-width: 33.3%;
   box-sizing: border-box;
   padding: 0 15px;
   margin-bottom: 30px;
}

.footer-content h3 {
   text-align: center;
}

h3 {
   font-size: 28px;
   color: #434343;
   margin-bottom: 15px;
   text-align: left;
}

.footer-content p {
   width: 100%;
   text-align: center;
   padding: 7px;
}

.footer-content ul {
   text-align: center;
}

.list {
   padding: 0;
   
}

.list li {
   width: auto;
   text-align: center;
   list-style-type: none;
   padding: 7px;
   position: relative;
}

.list li::before {
   content: '';
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 100%;
   width: 0;
   height: 2px;
   background: #1538A0;
   transition-duration: .5s;
}

.list a {
   color:#434343;
}

.list li:hover::before {
   width: 70px;
}

.social-icons {
   text-align: center;
   padding: 0;
}

.social-icons li {
   display: inline-block;
   text-align: center;
   padding: 5px;
}

.social-icons i {
   color: #434343;
   font-size: 25px;
}

a {
   text-decoration: none;
}

a:hover {
   color: #1538A0;
}

.social-icons i:hover {
   color: #1538A0;
}

.bottom-bar {
   background: #1538A0;
   text-align: center;
   padding: 10px 0;
}

.bottom-bar a:hover {
   color: #FFF;
}

.bottom-bar p {
   color: #FFF;
   margin: 0;
   font-size: 16px;
   padding: 7px;
}
























@media(max-width: 767px){
   .services .service-items .item{
     flex:0 0 100%;
     max-width: 100%;
  }
  .popup-box .popup-content{
       width: calc(100% - 30px);
  }
}


@media (max-width: 768px) {
   .footer-content {
       max-width: 100%;
   }
}

@media (max-width: 992px) {
   .navbar .links,
   .navbar .action_button {
       display: none;
   }

   .navbar .toggle_btn {
       display: block;
   }

   .dropdown_menu {
       display: block;
   }

   
   section#hero {
       height: calc(100vh - 120px); 
   }

   #hero h1 {
       font-size: 2rem; 
       margin-bottom: 0.5rem;
   }
}

@media (max-width: 576px) {
   .dropdown_menu {
       left: 2rem;
       width: unset;
   }
}

